<launch>
    <arg name="filename" value="PMSynRM.csv" />
    <!-- EfficiencyMap node and parameters -->
    <node pkg="tb_digital_twin" type="EfficiencyMap" name="efficiency_map" output="screen" ns="tb/lm_1">
        <param name="csv_file" type="str" value="/home/sejego/catkin_ws/src/Utilities/$(arg filename)" />
        <remap from="torque" to="electrical_torque_ref"/>

    </node>
</launch>
