<launch>
    <arg name="filename" value="healthy_current_5k.csv" />
    <arg name="frequency_default" value="5000" />
    <arg name="number_of_values" value="6"/>
    <arg name="number_of_columns" value="12"/>
    <arg name="run_forever" value="false" />
<!-- Input Voltage and Current node and parameters -->
    <node pkg="tb_digital_twin" type="currentVoltageFlow" name="loading_motor_1" output="screen">
        <param name="csv_file" type="str" value="/home/sejego/catkin_ws/src/Utilities/$(arg filename)" />
        <param name="number_of_values" type="int" value="$(arg number_of_values)" />
        <param name="number_of_columns" type="int" value="$(arg number_of_columns)" />
        <param name="frequency" type="double" value="$(arg frequency_default)" />
        <param name="run_forever" type="bool" value="$(arg run_forever)" />
    </node>
</launch>
